<!DOCTYPE html>
<html>
  <head>
    <title>TechTalentTwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Tweets', root_path, class: 'navbar-brand' %>
        </div>
        <!-- <div class="dropdown">
          <button class="dropbtn">Pages
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <%= link_to "Index", tweets_path %>
          </div>
        </div> -->
        <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
        <ul class ="nav navbar-nav">
          <li>
            <%= link_to 'All Users', all_users_path %>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>
                <%= link_to "Sign-Out", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign-In", new_user_session_path %>
              </li>
              <li>
                <%= link_to "Sign-Up", new_user_registration_path %>
              </li>
            <% end %>
        </ul>
        <div class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <% if current_user.avatar.url != nil %>
              <%= image_tag current_user.avatar.url, class: "avatar" %>
            <% end %>
          <% end %>
        </div>

      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
